$heading-font-family: $sans-serif-stack !default;
$base-font-family: $serif-stack !default;
$fixed-font-family: $monospace-stack !default;

$base-font-size: 15px !default;
$base-line-height: 1.5 !default;

$heading-1-size: 2em !default;
$heading-2-size: 2em !default;
$heading-3-size: 1.5em !default;
$heading-4-size: 1.2em !default;
$heading-5-size: 1em !default;
$heading-6-size: 1em !default;

$spacing: #{$base-line-height}em !default;
$list-left-margin: 1.8em !default;

$alt-font-color: #999 !default;
$table-header-bg-color: #eee !default;
$table-border-color: #ccc !default;

$selected-font-color: #fff !default;
$selected-background-color: #5e99ff !default;

@mixin body-typography {
	#{headings(all)}, .h1, .h2, .h3, .h4, .h5, .h6 {
		font-family: $heading-font-family;
		font-weight: normal;
		line-height: 1;

		a, a:visited, a:active, a:hover {
			color: inherit;
			text-decoration: none;
		}
	}

	mark {
		font-style: inherit;
		font-weight: inherit;
	}
}

@mixin paragraph-style($font-size: 1em, $line-height: $base-line-height) {
	font-size: $font-size;
	margin-bottom: ($line-height / $font-size * 1em * 1em);
}

@mixin typography-defaults {
	address {
		margin-bottom: $spacing;
	}

	blockquote {
		margin: $spacing;
		color: $alt-font-color;
		font-style: italic;
	}

	del {
		color: $alt-font-color;
	}

	h1, .h1 {
		@include paragraph-style($heading-1-size);
		font-weight: bold;
	}

	h2, .h2 {
		@include paragraph-style($heading-2-size);
	}

	h3, .h3 {
		@include paragraph-style($heading-3-size);
	}

	h4, .h4 {
		@include paragraph-style($heading-4-size);
	}

	h5, .h5 {
		@include paragraph-style($heading-5-size);
		font-weight: bold;
	}

	h6, .h6 {
		@include paragraph-style($heading-6-size);
		font-style: italic;
	}

	img {

		&.alignleft {
			float: left;
			margin: 5px 20px 5px 0;
		}

		&.alignright {
			float: right;
			margin: 5px 0 5px 20px;
		}
	}

	p {
		margin-bottom: $spacing;
	}

	ul, ol {
		margin-bottom: $spacing;

		li & {
			margin-bottom: 0;
		}
	}

	pre {
		margin-bottom: 1.67em;
		padding: 0;
		white-space: pre;
	}

	pre, code, kbd, samp {
		font-family: $fixed-font-family;
		font-size: 0.9em;
	}

	dl {
		margin-bottom: $spacing;
	}

	dt {
		font-weight: bold;
	}

	dd {
		margin-bottom: $spacing;
		margin-left: $list-left-margin;
	}

	table {
		margin-bottom: $spacing;
		width: 100%;
	}

	thead th {
		background-color: $table-header-bg-color;
	}

	th, td {
		border: 1px solid $table-border-color;
		padding: 2px 4px;
	}
}
