@import 'blueprint/grid';

$background-color: white !default;

@mixin html5-boilerplate-fixes {

	/* Add background color */
	body, html {
		background-color: $background-color;
	}

	/* Fix an inconsistency in the HTML5 Boilerplate Compass extension */
	a { color: $link-color; }
	a:active { color: $link-visited-color; }
	a:visited { color: $link-visited-color; }
	a:hover { color: $link-hover-color; }
}

@mixin column-with-border-width($n, $border-width, $last: false) {
	@include column-base($last);

	width: $blueprint_grid_width * $n + $blueprint_grid_margin * ($n - 1) - $border-width;
}